.characterCard {
  width: 172.5px;
  height: 245.97px;
}

.characterThumbnail {
  width: 100%;
  height: 189.97px;
}

.separator {
  height: 5.38px;
  background-color: var(--color-marvel-red);
}

.characterInfo {
  justify-content: space-between;
  padding: 16px 16px 24px 16px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.thumbnailResource {
  width: 100%;
  height: 100%;
  object-fit: cover;
}